{{#md-navbar name='Dashboard' }}
  {{#each model as |ui index|}}
    <li class="{{if (eq ui.id activeId) 'active'}}" {{action "selectUi" ui index}}>
      <a>{{ui.label}}</a>
    </li>
  {{/each}}
{{/md-navbar}}

{{#if activeUi}}
  <div class="frame-wrapper">
    {{#each model as |ui|}}
      {{render-ui activeUi=activeUi ui=ui classes=directionClass}}
    {{/each}}
  </div>
{{else}}
  <div class="col s12 light center header">
    <h2>Welcome to UI Integator</h2>
    <p>To get started select one of the items in the header.</p>
  </div>
{{/if}}


{{outlet}} {{md-modal-container}}
