{{#md-navbar name='Dashboard'}}
  {{#each model as |ui|}}
    <li class="{{if ui.active 'active'}}" {{action "selectUi" ui}}>
      <a>{{ui.label}}</a>
    </li>
  {{/each}}
{{/md-navbar}}

{{render-ui activeUi=activeUi}}

{{outlet}}

{{md-modal-container}}