<div class="integrator-ui">
  {{#md-navbar name='Dashboard' }}
    {{#each model as |ui index|}}

      {{#if (eq ui.engine true)}}
        {{#link-to ui.repoName tagName="li" invokeAction=(action 'selectUi' ui index 'engine')}}
          <a>{{ui.label}}</a>
        {{/link-to}}

      {{else}}
        <li class="{{if (eq ui.id activeId) 'active'}}" {{action "selectUi" ui index 'iframe'}}>
          <a>{{ui.label}}</a>
        </li>
      {{/if}}
    {{/each}}
  {{/md-navbar}}
</div>

{{#if activeUi}}
  <div class="frame-wrapper">
    {{#each model as |ui|}}
      {{#if (eq ui.engine false)}}
        {{render-ui activeUi=activeUi ui=ui classes=(concat directionClass " " ui.repoName)}}
      {{/if}}
    {{/each}}
    {{outlet}}
  </div>
{{else}}
  <div class="col s12 light center header">
    <h2>Welcome to UI Integator</h2>
    <p>To get started select one of the items in the header.</p>
  </div>
{{/if}}

{{md-modal-container}}
{{ember-notify closeAfter=5000}}