{{#md-navbar name='Dashboard'}}
  <!-- A workaround to get the "active" class
  to apply to the active <li> automatically -->
  {{#link-to 'application' tagName='li'}}
    {{link-to 'Home' 'application'}}
  {{/link-to}}
  {{#each model as |ui|}}
    <li class="{{if ui.active 'active'}}" {{action "selectUi" ui}}>
      <a>{{ui.label}}</a>
    </li>
  {{/each}}
{{/md-navbar}}

<div class="frame-wrapper">
  <iframe src="{{activeUi.baseUrl}}"></iframe>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}