{{#md-navbar name='Dashboard'}}
  {{#each model as |ui|}}
    <li class="{{if (eq ui.id activeId) 'active'}}" {{action "selectUi" ui}}>
      <a>{{ui.label}}</a>
    </li>
  {{/each}}
  {{#link-to "ember-stack-builder-engine" tagName="li"}}Stack builder{{/link-to}}
  {{#link-to "ember-swarm-ui-engine" tagName="li"}}Swarm UI{{/link-to}}

{{/md-navbar}}
{{render-ui activeUi=activeUi appendPath=appendPath}}

{{outlet}}

{{md-modal-container}}